
// 清除浮动
.clearfix {
    display: inline-block;
    &:after {
        content: '.'; 
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
    }
}

ul li {
    list-style: none;
}
ul,li,p {
    margin: 0;
    padding: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .border-1px {
        &::after {
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .border-1px {
        &::after {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}