//边框颜色
$border-color: rgba(7, 17, 27, 0.1) rgba(255,255,255,0.2) #d9dde1;

// 字体颜色
$white: #fff;
$grey: rgba(7,17,27,0.5);
$black: rgb(77,85,93) rgba(7,17,27,0.7);
$red: rgb(240,20,20);
$grey1: rgb(149,153,159);

// 背景颜色
$bg: rgba(0,0,0,0.2) rgba(7,17,27,0.2) rgba(7,17,27,0.5) rgba(7,17,27,0.8);
$bg-white: #f3f5f7;
